<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <% include ./partials/Initialization %>
    <br>
    <div class="container z-depth-1 grey">
        <div class="row">
            <div class="col s12 m4">
                <div class="row">
                        <br>
                    <div class="col s10 offset-s1 white z-depth-3">
                        <h5 id="h_numTicket">Ticket 0001</h5>
                        <div class="divider"></div>
                        <div id="prodOrd" class="row">
                        </div>
                        <div class="divider"></div>
                        <h5 id="h_total">Total: $0</h5>
                        <label>Cajero: <%= user.local.UName %> <%= user.local.ULastName %></label>
                    </div>
                </div>
                    <div class="col s12">
                        <form action="/menu" method="POST">
                            <div id="MenuForm" class="MenuForm" style="display: none;">
                            </div>
                            <div class="row ">
                                <div class="col s10 offset-s1 white z-depth-3">
                                    <div class="input-field col s12">
                                        <input type="text" name="comentario" id="com" />
                                        <label for="com">Comentario</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="green col s6 btn">Guardar</button>
                        </form>
                        <button class="red col s6 btn" onclick="reiniciarCuenta()">Descartar</button>
                    </div>
                </div>
            <div class="col s12 m8 white rounded" >
                    <% items.forEach(function(prd) { %>
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'ID': '<%= prd.id %>','Nombre': '<%= prd.local.Mtitulo %>', 'Precio': <%= prd.local.Mprecio %>})">
                        <div class="valign-wrapper">
                            <div class="col s4">
                                <img src="/images/chicken-leg.png" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                                <span class="black-text">
                                        <%= prd.local.Mtitulo %><br>
                                        <%= prd.local.Mdescripcion %> <br>
                                        $ <%= prd.local.Mprecio %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            
        </div>
    </div>
</body>
<script src="/JS/Cocina.js"></script>
<style >
.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
.padLess{
    padding: 8px !important;
}
.redHover:hover{
    background-color: red;
}
</style>
</html>