<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <% include ./partials/Initialization %>
    <br>
    <div class="container z-depth-1 grey">
        <div class="row">
            <div class="col s12 m4">
                <div class="row">
                        <br>
                    <div class="col s10 offset-s1 white z-depth-3">
                        <h5 id="h_numTicket">Ticket</h5>
                        <div class="divider"></div>
                        <div id="prodOrd" class="row">
                            <table >
                                <thead>
                                    <tr >
                                        <th style="padding:0; padding-left: 15px;"><label>Producto</label></th>
                                        <th style="padding:0;">Can</th>
                                        <th style="padding:0;">$</th>
                                    </tr>
                                </thead>
                                <tbody id="tbdTicketDetalle">
                                </tbody>
                            </table>
                        </div>
                        <div class="divider"></div>
                        <h5 id="h_total">Total: $0</h5>
                        <label>Cajero: <%= user.local.UName %> <%= user.local.ULastName %></label>
                    </div>
                </div>
                    <div class="col s12">
                        <form action="/menu" method="POST" onkeypress="if (e.keyCode == 13) {e.preventDefault(); return false;}">
                            <div id="MenuForm" class="MenuForm" style="display: none;">
                                <input type="text" name="Productos" id="Productos"/>
                            </div>
                            <div class="row ">
                                <div class="col s10 offset-s1 white z-depth-3">
                                    <div class="input-field col s12">
                                        <input type="text" name="comentario" id="com" />
                                        <label for="com">Comentario</label>
                                    </div>
                                    <button type="submit" class="hide" id="btn-send"></button>
                                </div>
                            </div>
                        </form>
                        <button class="green col s4 btn" onclick="createTicket()">Guardar</button>
                        <button class="red col s4 offset-s2 btn" onclick="reiniciarCuenta()">Descartar</button>
                    </div>
                </div>
            <div class="col s12 m8 white rounded" >
                    <% items.forEach(function(prd) { %>
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 padLess waves-effect col s12" onclick="agregarArticulo({'ID': '<%= prd.id %>','Nombre': '<%= prd.local.Mtitulo %>', 'Precio': <%= prd.local.Mprecio %>})">
                        <div class="valign-wrapper">
                            <div class="col s4">
                                <img src="/uploads/<%= prd.local.Mfoto %>" alt="" class=" responsive-img" width="50" height="50"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                                <span class="black-text">
                                        <%= prd.local.Mtitulo %><br>
                                        <%= prd.local.Mdescripcion %> <br>
                                        $ <%= prd.local.Mprecio %></span>
                            </div>
                        </div>
                    </div>  
                </div>
                <% }); %>
            </div>
            
        </div>
    </div>
    <div id="modalTicket" class="modal modalSmallTicket" >
        <div class="modal-content">
            <div class="col s12">
                <div style="width: 50%;margin-left: 38%;">
                    <img class="logoimg" src="/images/roast-chicken.png" alt="" width="50" height="50">
                </div>
            </div>
            <h6 class="center">Faustos Fried Chicken</h6>
            <label style="width: 100%; display: inline-block;" class="center" id="lblDate"></label>
            <label>Cajero</label><br>
            <label class="black-text"><%= user.local.UName %> <%= user.local.ULastName %></label><br>
            <table>
                <thead>
                    <tr>
                        <th style="padding:0;">Cant</th>
                        <th style="padding:0;">Productos</th>
                        <th style="padding:0;">$</th>
                    </tr>
                </thead>
                <tbody id="tbdProductos">                                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat" onclick="sendForm()">Aceptar</a>
        </div>
    </div>

</body>
<script src="/JS/Cocina.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var iva = <%= iva %>
    var socket = io.connect('http://localhost:3000');
    function actualizarCheck(id){
        socket.emit('orderAdded', {idOrder : id});
    }
    <% if(typeof ord !== 'undefined'){%>
        actualizarCheck('<%= ord %>')
    <% }%>
    
</script>
<style >
.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
}
.padLess{
    padding: 8px !important;
}
.redHover:hover{
    background-color: red;
}

.modalSmallTicket{
    width: 270px !important;
}
</style>
</html>