<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
    <% include ./partials/nav %>
    <h1>Name:</h1>
    <h2><%= user.local.UName %></h2>
    <h2><%= user.local.ULastName %></h2>
    <h1>Phone:</h1>
    <h2><%= user.local.UPhone %></h2>
    <h1>Emai:</h1>
    <h2><%= user.local.email %></h2>
    <h1>Password:</h1>
    <h2><%= user.local.password %></h2>
    <h1>Tipo:</h1>
    <h2><%= user.local.Ujob %></h2>

    <form action="/logout" method="GET">
        <button type="submit">LogOut</button>
    </form>
    <% include ./partials/Initialization %>
</body>
</html>